body{
  margin:0;
  font-family:Arial;
  background:#0f1c1c;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  background:#eee;
  width:90%;
  max-width:400px;
  padding:25px;
  border-radius:20px;
}

.logo{
  width:150px;
  display:block;
  margin:0 auto 10px;
}

.sub{
  text-align:center;
  color:#f4c400;
}

.titulo{
  text-align:center;
  margin-bottom:20px;
}

label{
  display:block;
  margin-top:10px;
}

input{
  width:100%;
  padding:14px;
  border-radius:25px;
  border:1px solid #ddd;
  margin-top:5px;
  background:#f7f7f7;
  font-size:14px;
}

.senha-box{
  position:relative;
}

.senha-box span{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  font-size:18px;
  color:#999;
}

.linha{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:12px 0;
  font-size:14px;
}

.salvar{
  display:flex;
  align-items:center;
  gap:6px;
}

.salvar input{
  width:16px;
  height:16px;
  cursor:pointer;
}

.btn-entrar{
  width:100%;
  padding:15px;
  background:#ffd400;
  border:none;
  border-radius:30px;
  font-weight:bold;
  font-size:16px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.cadastro{
  text-align:center;
  margin:15px 0;
}

.ou{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
}

.ou span{
  flex:1;
  height:1px;
  background:#ccc;
}

.btn-google{
  width:100%;
  padding:15px;
  background:#000;
  color:#fff;
  border:none;
  border-radius:30px;
  margin-top:15px;
  font-size:15px;
}
